@tailwind base;
@tailwind component;
@tailwind utilities;
*{
    font-family: "Montenegrin Gothic One", serif;
    font-weight: bold;
    font-style: normal;
}
.titulo{
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-style: normal;
}